{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}
    <div class="container">
        <div class="about__title">
            <h2 class="text-center">Лабораторная работа по дисциплине "Технологии WEB-приложений"</h2>
            <h3 class="text-center">Вариант 1. Разработка сайта для ведения текстового блога</h3>
        </div>

        <span class="h4">Задание:</span>
        <div class="about__task mb-4">
            <div class="mt-2">
                На всех страницах в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и
                регистрацию, для авторизованных - приветствие, кнопку “Выход” и имя пользователя.
            </div>

            <div class="mt-2">
                На главной странице выводятся посты, отсортированные по дате добавления.
                У каждого поста выводится название (ссылка на страницу поста), дата добавления, аннотация (краткое
                описание содержимого или первая часть поста) и количество комментариев к посту.
            </div>

            <div class="mt-4">
                На странице поста выводится информация о посте:
                <li>название</li>
                <li>дата добавления</li>
                <li>текст описания</li>
                <li>количество просмотров поста</li>
                <li>список комментариев, отсортированных по дате добавления</li>
                <li>форма “Оставить комментарий” (текстовое поле и кнопка “Отправить”)</li>
            </div>

            <div class="mt-4">
                На странице добавления поста располагается форма с полями:
                <li>название</li>
                <li>аннотация</li>
                <li>текст поста</li>
            </div>

            <div class="mt-4">
                <span>Просмотром новости должно считаться посещение детальной страницы поста, если текущий пользователь - не автор поста.</span>
                <div>
                    Все пользователи (в том числе неавторизованные) могут просматривать посты и комментарии к ним.<br>
                    Авторизованные пользователи могут оставлять комментарии под постами.<br>
                    Пользователь с правами администратора должен иметь возможность добавления, удаления и редактирования
                    постов, а также удаления комментариев.<br>
                </div>
            </div>
        </div>

        <span class="h4">Реализация проекта:</span>
        <div class="about__in-progress">
            <div>
                Данный проект написан на языке PHP <strong>7.4.16</strong> с использованием фреймворка Symfony, а именно
                с использованием Symfony CLI <strong>v4.23.5</strong>.<br><br>

                Данный проект находится на GitHub, а конкретнее по
                <a href="https://github.com/vitaliynester/Blog-WEB">данной ссылке</a>. <br><br>

                Развернуть данный проект можно двумя способами: с использованием Docker и без него. С более подробной
                инструкцией по разворачиванию данного проекта можно ознакомиться по
                <a href="https://github.com/vitaliynester/Blog-WEB/blob/master/README.md">следующей ссылке</a>.
            </div>

            <div class="mt-4">
                Реализация данного проекта состоит из двух этапов:
                <li>создание скелета приложения Symfony и знакомство с базовыми элементами (создание сущностей,
                    контроллеров и форм)
                </li>
                <li>добавление необходимой функциональности по варианту (в данном варианте необходимо добавить вывод
                    постов для пользователя, возможность их комментирования, а также создание новых постов)
                </li>
            </div>

            <div class="mt-4">
                Макет приложения представлен ниже:<br>
                <div class="about__progress-gallery">
                    <img src="{{ asset('images/home.png') }}" class="about__progress-gallery-img mb-4"
                         alt="Главная страница">
                    <img src="{{ asset('images/all_posts.png') }}" class="about__progress-gallery-img mb-4"
                         alt="Все посты">
                    <img src="{{ asset('images/detail_post.png') }}" class="about__progress-gallery-img mb-4"
                         alt="Страница с подробный описание поста">
                </div>
            </div>
        </div>
    </div>
{% endblock %}