.detail-post {
    padding: 0;
    margin: 0;

    &__row {
        display: flex;
        font-size: x-large;
        &-pre {
            margin-right: 5px;
        }
        &-value {
            font-weight: bold;
        }
    }

    &__content {
        text-align: justify;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}