.post-card {
    padding: 0;
    align-items: baseline;
    &__title {
        a {
            color: black;
            text-decoration: none;
        }
    }
    &__preview {
        opacity: 0.7;
    }
    &__date-of-creation {
        opacity: 0.6;
    }
    &__information {
        margin: 0;
        display: block;
        margin-top: 10px;
    }
    &__divider {
        margin: 0px;
        border: 1px solid grey;
        width: 100%;
    }
}