.bg-img {
  background-image: url("../images/backgroud.svg");
}

.navbar-blog {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-blog a {
  color: black;
  text-decoration: none;
}

.navbar-blog a :hover {
  cursor: pointer;
}

.navbar-blog li {
  border: solid;
  border-radius: 5px;
  border-color: #222222;
  border-width: 1px;
  margin-left: 10px;
}

.navbar-blog li a {
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-blog__dropdown-item {
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.navbar-blog__fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-blog__btn-logout {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  margin: 0;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.post-card {
  padding: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.post-card__title a {
  color: black;
  text-decoration: none;
}

.post-card__preview {
  opacity: 0.7;
}

.post-card__date-of-creation {
  opacity: 0.6;
}

.post-card__information {
  margin: 0;
  display: block;
  margin-top: 10px;
}

.post-card__divider {
  margin: 0px;
  border: 1px solid grey;
  width: 100%;
}

.comment__row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0px;
  margin: 0px;
}

.comment__owner {
  color: #2998FF;
  margin-right: 5px;
  font-size: larger;
}

.comment__date {
  opacity: 0.8;
  font-size: small;
}

.comment__content {
  font-weight: normal;
  text-align: justify;
}

.login__btn {
  width: 100%;
}

.login__helped-label {
  color: #585858;
}

.register__error-label ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.register__error-label ul li {
  padding: 0;
  margin: 0;
}

.home {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home h1 {
  text-align: center;
}

.last-post__title {
  font-size: xx-large;
  font-weight: bold;
}

.last-post__content {
  opacity: 0.8;
}

.last-post__btn {
  margin: 0;
  padding: 0;
  padding-right: 2px;
  list-style-type: none;
}

.last-post__btn li {
  border: solid;
  border-radius: 5px;
  border-color: #222222;
  border-width: 1px;
  margin-left: 10px;
}

.last-post__btn li a {
  padding: 0;
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.about__progress-gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.detail-post {
  padding: 0;
  margin: 0;
}

.detail-post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: x-large;
}

.detail-post__row-pre {
  margin-right: 5px;
}

.detail-post__row-value {
  font-weight: bold;
}

.detail-post__content {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */