<div class="row post-card mb-4">
    <div class="col-3 p-0">
        <div class="post-card__time-on-read">
            8 Mins Read
        </div>
        <div class="post-card__date-of-creation">
            02 Dec 20
        </div>
        <div class="row post-card__information">
            14
            <img src="{{ asset('images/watch.svg') }}" alt="Количество просмотров">
            9
            <img src="{{ asset('images/comment.svg') }}" alt="Количество комментариев">
        </div>
    </div>
    <div class="col-9 p-0">
        <div class="post-card__title">
            <a href="#">
                Salesforce to purchase workplace-chat tool Slack for nearly 28$ billion.
            </a>
        </div>
        <div class="post-card__preview mt-2">
            Slack has become indispensable for many businesses operating remotely during the pandemic.
        </div>
    </div>
    <hr class="post-card__divider mt-4">
</div>