{% extends 'base.html.twig' %}

{% block title %}Указанная страница не найдена{% endblock %}

{% block body %}
    <div class="container home">
        <h1 class="text-center home">Данная страница не найдена =(</h1>
    </div>
{% endblock %}