{% extends 'base.html.twig' %}

{% block title %}Указанная страница не найдена{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Данная страница не найдена =(</h1>
    </div>
{% endblock %}